---
import Layout from "../layouts/Layout.astro";
---

<Layout title="potatameister - About">
	<div class="blankslate blankslate-spacious bg-subtle border border-default">
		<h3 class="blankslate-heading">WIP</h3>
	</div>
</Layout>
