---
import Layout from "../layouts/Layout.astro";
---

<Layout title="potatameister - Support My Work">
	<div class="p-4 rounded-2 border border-default bg-subtle text-center">
		<h1 class="h1 mb-4">Support My Work</h1>
		<div class="Box Box--condensed d-inline-block text-left" style="max-width: 480px;">
			<div class="Box-header">
				<h3 class="Box-title">GitHub Sponsors</h3>
			</div>
			<div class="Box-body">
				<p>Support me on GitHub Sponsors for as little as $1/month.</p>
				<div class="mt-4 text-center">
					<a href="https://github.com/sponsors/potatameister" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
						Sponsor potatameister
					</a>
				</div>
			</div>
		</div>
	</div>
</Layout>
