---
import Layout from "../layouts/Layout.astro";
---

<Layout title="potatameister - Home">
	<div class="blankslate blankslate-spacious bg-subtle border border-default">
		<h1 class="blankslate-heading">potatameister</h1>
		<p>Building something interesting.</p>
	</div>
</Layout>
